<%= form_for(@issue) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h5>Title</h5><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <h5>Content</h5><br />
    <%= f.text_area :content, :rows => "10", :cols => "10" %>
  </div>

  <% if @current_user.has_identity?("github") %>
    <div class="field">
      <h5>Create a gist</h5><br />
      <%= f.text_area :relevant_gist %>
    </div>
  <% else %>
    <p>
      If you would like to <strong>create a gist on GitHub,</strong> please first <a href="/auth/github">authenticate with GitHub</a>.
    </p>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
