<div class="issue quick-button">

  <div class="circles queue_position notification">
    <%= issues.index(issue) + 1 %>
  </div>
  
  <% unless @current_user == issue.user %>
    <% if issue.voted_on?(@current_user) %>
      <%= link_to(raw('<div class="circles votes notification"><i class="icon-thumbs-up"></i></div>'), voteup_path(issue), id: ("voteup_id_"+issue.id.to_s), remote: true) %>
      <%= link_to(raw('<div class="circles votes notification"><i class="icon-thumbs-down"></i></div>'), votedown_path(issue), id: ("votedown_id_"+issue.id.to_s), remote: true) %>
    <% else %>
      <%= link_to(raw('<div class="circles votes notification"><i class="icon-thumbs-down"></i></div>'), votedown_path(issue), id: ("votedown_id_"+issue.id.to_s), remote: true) %>
      <%= link_to(raw('<div class="circles votes notification"><i class="icon-thumbs-up"></i></div>'), voteup_path(issue), id: ("voteup_id_"+issue.id.to_s), remote: true) %>
    <% end %>
  <% end %>

  <a href="/issues/<%=issue.id%>">
    <div class="issue_box">
      <span class="title"><%= truncate(issue.title, :length => 35, :omission =>"...") %></span>
      <p class="description"><%= truncate(issue.content, :length => 140, :omission =>"...") %></p>
    </div>

  <div class="credits">
    <hr>
      <div class="small_profile">
        <p>Asked by:</p>
        <%= image_tag(issue.user.image.url, :class => "small_profile_image") if issue.user.image.url.present? %>
        <p>
          <%= issue.user.name %>
        </p>
      </div>

      <div class="submission_details">
        <p>
          Submitted: <br> <%= time_ago_in_words(issue.created_at) %> ago
        </p>
        
        <%= render :partial => 'assigned', :locals => { :issue => issue } %>

        <p>Vote Count: </p>
        <strong id="vote_count_id_<%= issue.id %>"><%= issue.votes.size.to_s %></strong>
      </div>
  </div>
  </a>

  <ul class="assignment_buttons">
    <li><%= link_to(raw('<button class="btn btn-success">I\'ll Help</button>'), assign_path(issue), :class => "assign_hide") if issue.assignee_id.blank? && @current_user.can_assign?(issue) && (issue.user != @current_user) %></li>    
    <li><%= link_to(raw('<button class="btn btn-danger">Unassign</button>'), unassign_path(issue), :class => "assign_hide") if issue.assignee_id.present? && @current_user == issue.assignee && @current_user.can_unassign?(issue) %></li>
  </ul>
  <ul class="issue_icons">
    <li><%= link_to(raw('<i class="icon-remove btn btn-danger"></i>'), issue, method: :delete, data: { confirm: 'Are you sure?' }) if current_user.can_destroy?(issue) && issue.is_unassigned? %>
    </li>
    <li><%= link_to(raw('<i class="icon-pencil btn btn-warning"></i>'), edit_issue_path(issue)) if @current_user.can_edit?(issue) && issue.is_unassigned? %></li>
    <li><%= link_to(raw('<i class="icon-ok btn btn-success"></i>'), resolve_path(issue)) if @current_user.can_resolve?(issue) %></li>
    <li><%= link_to(raw('<button class="btn btn-danger">Need more help</button>'), unassign_path(issue)) if issue.is_assigned? && (issue.user == current_user) %>
    </li>
    <li><%= link_to(raw('<button class="btn btn-success">Done</button>'), helped_path(issue)) if issue.is_assigned? && (current_user.can_mark_as_helped?(issue)) %>
    </li>
  </ul>
</div>
