<div class="issue quick-button" id="issue_<%= issue.id %>">

  <div class="circles queue_position notification">
  </div>
  
  <% unless @current_user == issue.user %>
    <% if issue.voted_on?(@current_user) %>
      <%= link_to(raw('<div class="circles votes notification"><i class="icon-thumbs-up"></i></div>'), voteup_path(issue), id: ("voteup_id_"+issue.id.to_s), remote: true) %>
      <%= link_to(raw('<div class="circles votes notification"><i class="icon-thumbs-down"></i></div>'), votedown_path(issue), id: ("votedown_id_"+issue.id.to_s), remote: true) %>
    <% else %>
      <%= link_to(raw('<div class="circles votes notification"><i class="icon-thumbs-down"></i></div>'), votedown_path(issue), id: ("votedown_id_"+issue.id.to_s), remote: true) %>
      <%= link_to(raw('<div class="circles votes notification"><i class="icon-thumbs-up"></i></div>'), voteup_path(issue), id: ("voteup_id_"+issue.id.to_s), remote: true) %>
    <% end %>
  <% end %>

  <a href="/issues/<%=issue.id%>">
    <div class="issue_box">
      <span class="title"><%= truncate(issue.title, :length => 35, :omission =>"...") %></span>
      <p class="description"><%= truncate(issue.content, :length => 140, :omission =>"...") %></p>
    </div>

  <div class="credits">
    <hr>
      <div class="small_profile">
        <p>Asked by:</p>
        <%= image_tag(issue.user.image.url, :class => "small_profile_image") if issue.user.image.url.present? %>
        <p>
          <%= issue.user.name %>
        </p>
      </div>

      <div class="submission_details">
        <p>
          Submitted: <br> <%= time_ago_in_words(issue.created_at) %> ago
        </p>
        
        <%= render :partial => 'assigned', :locals => { :issue => issue } %>

        <p>Vote Count: </p>
        <strong id="vote_count_id_<%= issue.id %>"><%= issue.votes.size.to_s %></strong>
      </div>
  </div>
  </a>

  <ul class="assignment_buttons">
    <li class="assign_button"><%= link_to(raw('<button class="btn btn-success ">I\'ll Help</button>'), assign_path(issue), :class => "assign_me", :remote => true) if show_assign_button?(@current_user, issue) %></li>    
    <li class="unassign_button"><%= link_to(raw('<button class="btn btn-danger ">Unassign</button>'), unassign_path(issue), :class => "unassign_me", :remote => true) if show_unassign_button?(@current_user, issue) %></li>
  </ul>
  <ul class="issue_icons">
    <li class="delete_button"><%= link_to(raw('<i class="icon-remove btn btn-danger "></i>'), issue, method: :delete, data: { confirm: 'Are you sure?' }) if show_delete_button?(@current_user, issue) %>
    </li>
    <li class="edit_button"><%= link_to(raw('<i class="icon-pencil btn btn-warning "></i>'), edit_issue_path(issue)) if show_edit_button?(@current_user, issue) %></li>
    <li class="resolve_button"><%= link_to(raw('<i class="icon-ok btn btn-success "></i>'), resolve_path(issue)) if show_resolve_button?(@current_user, issue) %></li>
    <li class="more_help_button"><%= link_to(raw('<button class="btn btn-danger ">Need more help</button>'), unassign_path(issue), :remote => true) if show_more_help_button?(@current_user, issue) %>
    </li>
    <li class="done_button"><%= link_to(raw('<button class="btn btn-success ">Done</button>'), helped_path(issue), :remote => true) if show_admin_done_button?(@current_user, issue) %>
    </li>
  </ul>
</div>
