<div class="issue quick-button">
  
  <div class="circles queue_position notification">
    <%= issues.index(issue) + 1 %>
  </div>
  <% unless @current_user == issue.user %>
  <div class="circles votes notification">
    <% if issue.voted_on?(@current_user) %>
      <%= link_to(raw('<i class="icon-thumbs-down"></i>'), votedown_path(issue)) %>
    <% else %>
      <%= link_to(raw('<i class="icon-thumbs-up"></i>'), voteup_path(issue)) %>
    <% end %>
  </div>
  <% end %>
  <div class="issue_box">
    <%= link_to truncate(issue.title, :length => 35, :omission =>"..."), issue_path(issue), :class => "title" %>
    <p><%= link_to truncate(issue.content, :length => 140, :omission =>"..."), issue_path(issue), :class => "description" %></p>
  </div>
  <div class="credits">
    <hr>
    <div class="small_profile">
      <p>Asked by:</p>
      <%= image_tag(issue.user.profile_url, :class => "small_profile_image") %>
      <p>
        <%= link_to issue.user.name, issue.user %>
      </p>
    </div>
    <div class="submission_details">
      <p>
        Submitted: <br> <%= time_ago_in_words(issue.created_at) %> ago
      </p>
      <%= "Assigned To: " if issue.assignee_id.present? %>
    <strong><%= issue.assigned_to if issue.assignee_id.present? %></strong>
      <p>Vote Count: </p>
      <strong><%= issue.votes.size.to_s %></strong>

    </div>
  </div>
  <ul class="assignment_buttons">
    <li><%= link_to(raw('<button class="btn btn-success">I\'ll Help</button>'), assign_path(issue)) if issue.assignee_id.blank? && @current_user.can_assign?(issue) && (issue.user != @current_user) %></li>    
    <li><%= link_to(raw('<button class="btn btn-danger">Nevermind...</button>'), unassign_path(issue)) if issue.assignee_id.present? && @current_user.can_unassign?(issue) %></li>
  </ul>
  <ul class="issue_icons">
    <li><%= link_to(raw('<i class="icon-remove btn btn-danger"></i>'), issue, method: :delete, data: { confirm: 'Are you sure?' }) if current_user.can_destroy?(issue) && issue.is_unassigned? %>
    </li>
    <li><%= link_to(raw('<i class="icon-pencil btn btn-warning"></i>'), edit_issue_path(issue)) if @current_user.can_edit?(issue) && issue.is_unassigned? %></li>
    <li><%= link_to(raw('<i class="icon-ok btn btn-success"></i>'), resolve_path(issue)) if @current_user.can_resolve?(issue) %></li>
    <li><%= link_to(raw('<button class="btn btn-danger">Need more help</button>'), unassign_path(issue)) if issue.is_assigned? && (issue.user == current_user) %>
    </li>
  </ul>
</div>

