<%= content_for :js do %>
<script>Refresh.init("big_board")</script>
<% end %>

<div class="span9">
  <%= render 'issues/bigboard_queue' %>
</div>

<div class="span3">
  <h2>Currently Assigned</h2>
  <ul>
    <% @assigned_issues.each do |issue| %>
      <li><%= issue.assigned_to %> is helping <%= issue.user.name %> with <%= issue.title %></li>
    <% end %>
  </ul>
</div>