<h1>Issues Queue</h1>
<div class="bigboard">

  <div class="assigned">
    <h3>Assigned</h3>
  
    <!-- Button to trigger modal -->
    <a href="#assignedModal" role="button" class="btn" id="modalToggle" data-toggle="modal">New issue assigned</a>

    <!-- Modal -->
    <div id="assignedModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <button type="btnutton" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= @assigned_issues.last.assignee.name %> will help with...</h3>
      <div id="alert">
      <!-- Do not delete : alert audio code is inserted here -->
      </div>
    </div>
    <div class="modal-body">
       <h4><em><%= @assigned_issues.last.user.name %>'s</em> issue on: </h4>
       <h4><em>"<%= @assigned_issues.last.title %>"</em></h4>
       <%= image_tag(@assigned_issues.last.user.profile_url, :class => "small_profile_image") if @assigned_issues.last.user.profile_url.present? %>
    

      <div id="alert">
      <!-- Do not delete : Alert audio clip code to be inserted here -->
      </div>
    </div>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
    </div>
  </div>
  <div class="clear"></div>

  <div class="queue">
    <h3>Issues Up Next</h3>

    <% number_urgent = @instructor_urgent_issues.size %>
    <% number_normal = @instructor_normal_issues.size %>

    <% case %>
    <% when number_urgent < 3 %> 
      <% @instructor_urgent_issues.slice(0..(number_urgent-1)).each do |issue| %>
        <%= render :partial => 'issue_bigboard', :locals => { :issues => @instructor_urgent_issues, :issue => issue } %>   
      <% end %>

      <% @instructor_normal_issues.slice(0..(2-number_urgent)).each do |issue| %>
        <%= render :partial => 'issue_bigboard', :locals => { :issues => @instructor_normal_issues, :issue => issue } %> 
      <% end %>

    <% when number_urgent >= 3 %> 
      <% @instructor_urgent_issues.slice(0..2).each do |issue| %>
        <%= render :partial => 'issue_bigboard', :locals => { :issues => @instructor_urgent_issues, :issue => issue } %> 
      <% end %>
    <% end %>
  </div>

</div>
