<%= content_for :js do %>
  <script>ajax_buttons.fire</script>
<% end %>

<% if @assignable_issues.present? %>
  <div id="myCarousel" class="carousel slide" data-interval="false">
    <%= render :partial => 'mobile_queue', :locals => { :assignable_issues => @assignable_issues, :current_user => current_user} %>
  </div>

<div id="issuesindex">
  <hr>
  <h3>Assigned</h3>
  
  <div class="issues_assigned">  
  <%= render :partial => 'assigned_queue', :locals => { :issues => @assigned_issues } %>
  </div>

  <div class="clear"></div>
  <br />
  <hr>
<% end %>


  <h3>Urgent</h3>

  <div class="issues_instructor_urgent">  
  <%= render :partial => 'instructor_urgent_queue', :locals => { :issues => @instructor_urgent_issues } %>
  </div>

  <div class="clear"></div>
  <br />
  <hr>

  <h3>Teacher Queue</h3>
    
  <div class="issues_instructor_normal">  
  <%= render :partial => 'instructor_normal_queue', :locals => { :issues => @instructor_normal_issues } %>
  </div>

  <div class="clear"></div>
  <br />
  <hr>

  <% unless current_user.admin? %>
    <h3>Student Queue</h3>
    
    <div class="issues_fellow_student">
      <%= render :partial => 'fellow_student_queue', :locals => { :issues => @fellow_student_issues } %>
    </div>

  <% end %>

</div>