<%= content_for :js do %>
  <script>ajax_buttons.fire</script>
<% end %>

<% if @assignable_issues.present? %>
  <div id="myCarousel" class="carousel slide" data-interval="false">
    <ol class="carousel-indicators">
    <% @assignable_issues.each_with_index do |issue, index| %>  
      <li data-target="#myCarousel" data-slide-to="<%= index %>" class="<%= "active" if index == 0 %>">
        <%= index + 1 %>
      </li>
    <% end %>
    </ol>
    <div id="carousel_partial">
      <%= render :partial => 'mobile_queue', :locals => { :assignable_issues => @assignable_issues, :current_user => current_user} %>
    </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
  </div> 

<div id="issuesindex">
  <hr>
  <h3>Assigned</h3>
  
  <div class="issues_assigned">  
  <%= render :partial => 'assigned_queue', :locals => { :issues => @assigned_issues } %>
  </div>

  <div class="clear"></div>
  <br />
  <hr>
<% end %>


  <h3>Urgent</h3>

  <div class="issues_instructor_urgent">  
  <%= render :partial => 'instructor_urgent_queue', :locals => { :issues => @instructor_urgent_issues } %>
  </div>

  <div class="clear"></div>
  <br />
  <hr>

  <h3>Teacher Queue</h3>
    
  <div class="issues_instructor_normal">  
  <%= render :partial => 'instructor_normal_queue', :locals => { :issues => @instructor_normal_issues } %>
  </div>

  <div class="clear"></div>
  <br />
  <hr>

  <% unless current_user.admin? %>
    <h3>Student Queue</h3>
    
    <div class="issues_fellow_student">
      <%= render :partial => 'fellow_student_queue', :locals => { :issues => @fellow_student_issues } %>
    </div>

  <% end %>

</div>