<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <% @issues_assignable.each do |issue| %>  
      <li data-target="#myCarousel" data-slide-to="<%= @issues_assignable.index(issue) %>" class="">
        <%= @issues_assignable.index(issue) + 1 %>
      </li>
    <% end %>
  </ol>
  <div class="carousel-inner">
    <% @assigned_issues.each do  %>
      <div class="active item">
        <img src="assets/missing.png" alt="">
        <div class="carousel-caption">
          <h4>First Thumbnail label</h4>
          <p>How do you use Rails form_for helper with multiple models?</p>
          <hr>
          <p>Submitted by: Eugene Wang<br />
            about 1 hour ago<br />
            Assigned To: Avi Flombaum
          </p>

        </div>
      </div>

  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>

<div id="issuesindex">
  <hr>
  <h3>Assigned</h3>
  <% @assigned_issues.each do |issue| %>
  <%= render :partial => 'issue_theme', :locals => { :issues => @assigned_issues, :issue => issue } %>
  <% end %>

  <div class="clear"></div>
  <br />
  <hr>


  <h3>Urgent</h3>
  <% @instructor_urgent_issues.each do |issue| %>
  <%= render :partial => 'issue_theme', :locals => { :issues => @instructor_urgent_issues, :issue => issue } %>
  <% end %>

  <div class="clear"></div>
  <br />
  <hr>

  <h3>Teacher Queue</h3>
  <% @instructor_normal_issues.each do |issue| %>
  <%= render :partial => 'issue_theme', :locals => { :issues => @instructor_normal_issues, :issue => issue } %>
  <% end %>

  <div class="clear"></div>
  <br />
  <hr>

  <% unless current_user.admin? %>
  <h3>Student Queue</h3>
  <% @fellow_student_issues.each do |issue| %>
  <%= render :partial => 'issue_theme', :locals => { :issues => @fellow_student_issues, :issue => issue } %>
  <% end %>
  <% end %>

  <div class="clear"></div>
  <br />
  <hr>

  <h3><%= "Waiting Room" unless current_user.admin? %></h3>
  <% @waiting_room_issues.each do |issue| %>
  <div id="timer">
  <input id="minutes" type="text" style="width: 14px; border: none; background-color:none; font-size: 16px; font-weight: bold;"> minutes and <input id="seconds" type="text" style="width: 26px; border: none; background-color:none; font-size: 16px; font-weight: bold;"> seconds<br>
  left in the waiting room.
  </div>
  <%= render :partial => 'issue_theme', :locals => { :issues => @waiting_room_issues, :issue => issue } %>
  <% end %>

  <div class="clear"></div>
  <br />
  <hr>
</div>