<p id="notice"><%= notice %></p>

<h2>
  <%= @issue.title %>
</h2>

<%= render :partial => 'vote', :locals => {:issue => @issue, :asker => @issue.user} %>

<div>
  <h4>Posted By:</h4>
  <%= @issue.user.name %>
</div>
<hr width="40%">
<div>
  <h4>Content:</h4>
  <%= @issue.content %>
</div>
<hr width="40%">

<% if @issue.relevant_gist != nil %>
<div>
  <h4>Gist:</h4>
  <%= link_to@issue.relevant_gist, @issue.relevant_gist, :target => "_blank" %>
</div>
<hr width='40%'>
<% end %>

<div>
  <h4>Status:</h4>
  <%= @issue.current_status %>
</div>
<hr width="40%">
<br>

<% if @issue.responses.count > 0 %>
  <div>
    <h4>Responses:</h4>
    <% @issue.responses[0..-2].each do |response| %>
      <h5><%= response.user.name %> | <%= time_ago_in_words(response.created_at) %> ago</h5>
      <% if response.answer %>
        <h6>Correct Answer!</h6>
        <% if @issue.asker?(current_user) %>
          <%= button_to "Unmark as Answer", :controller => "responses", :action => "answer", :response_id => response.id %>
        <% end %>
      <% end %>
      <%= response.content %>
      <br><br>
      <% if !@issue.answered? && @issue.asker?(current_user) %>
        <%= button_to "Mark As Answer", :controller => "responses", :action => "answer", :response_id => response.id %>
      <% end %>
      <hr width="40%">
    <% end %>
  </div>
<% end %>
<hr width="40%">
<br>



<a href="#responseModal" role="button" class="btn btn-sucess" data-toggle="modal">Respond to this issue</a>

<div id="responseModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="responseModalLabel" aria-hidden="true">
  <%= render :partial => "response_form", :locals => { :@response => @response , :issue => @issue, :id => @issue.id} %>
</div>



<br><br>
<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
