<div id="post_content" class="row-fluid">  

  <div class="box span12">
    <div class="box-header">
      <h2><i class="icon-question-sign"></i><span class="break"></span><%= @issue.user.name %>'s Issue</h2>
      <div class="box-icon">
        <%= link_to raw('<i class="icon-wrench"></i> Edit'), edit_issue_path(@issue) if show_edit_button?(@current_user, @issue) %>

        <%= link_to raw('<i class="icon-remove"></i> Delete'), @issue, method: :delete, data: { confirm: 'Are you sure?' } if show_delete_button?(@current_user, @issue) %>        
        <%= link_to raw('<i class="icon-ok"></i> Mark As Resolved'), resolve_path(@issue) if show_resolve_button?(@current_user, @issue) %>
      </div>
    </div>
    <div class="box-content">
      <div class="row-fluid">
        <div class="span4">
          <%= image_tag(@issue.user.image, :id => "avatar") %>
        </div>
        <div class="span8" id="post_title">
          <h1><%= @issue.title %></h1>
          <p><%= @issue.content %></p>
          <hr>
          <%= render :partial => 'vote', :locals => {:issue => @issue, :asker => @issue.user} %> | <strong>Status:</strong> <%= @issue.aasm_state %>
        </div>

      </div>
    </div>
    <% if @issue.gist_id %>  
      <div class="box-header">
        <h2><i class="icon-chevron-left"></i><i class="icon-chevron-right"></i><span class="break"></span>Code Snippet</h2>
      </div>    
      <script src="https://gist.github.com/<%=@user_login_name%>/<%=@issue.gist_id%>.js"></script>
    <% end %>
    <div class="box-header">
      <h2><i class="icon-comment"></i><span class="break"></span>Responses</h2>    
    </div>
    <div class="box-content">
      <% if @issue.responses.count < 1 %>
        <p>There are currently no responses to this issue.</p>
      <% end %>
      <% if @issue.responses.count > 0 %>
      <ul class="chat">
        <% @issue.responses[0..-2].each do |response| %>
          <%= render :partial => "responses/response", :locals => { :response => response, :@issue => response.issue } %>
        <% end %>
      </ul>
      <% end %>
      <div class="chat-form">
        <%= form_for(Response.new) do |f| %>
          <%= hidden_field :issue, :id %>
          <%= f.text_area :content %>
          <%= f.submit 'Add a Response', :class => 'btn btn-info', :issue => @issue %>
        <% end %>
      </div>
    </div>
  </div> 
 
  <div class="row-fluid">
    <%= link_to 'Back', issues_path %>
  </div>

</div>