
<p id="notice"><%= notice %></p>

<h2>
  <%= @issue.title %>
</h2>

<div>
  <h4>Posted By:</h4>
  <%= @issue.user.name %>
</div>
<hr width="80%">
<div>
  <h4>Content:</h4>
  <%= @issue.content %>
</div>
<hr width="80%">

<% if @issue.gist_id %>
<div>
  <h4>Gist:</h4>
  <script src="https://gist.github.com/<%=@user_login_name%>/<%=@issue.gist_id%>.js"></script>
</div>
<hr width='80%'>
<% end %>

<div>
  <h4>Votes:</h4>
  <%= render :partial => 'vote', :locals => {:issue => @issue, :asker => @issue.user} %>
</div>
<hr width='80%'>

<div id="status">
  <h4>Status:</h4>
  <%= @issue.aasm_state %>
    <hr width="80%">
  <br>
</div>

<% if @issue.responses.count > 0 %>
  <div>
    <h4 id="responses_start">Responses:</h4>
    <% @issue.responses[0..-2].each do |response| %>

    <%= render :partial => "responses/response", :locals => { :response => response, :@issue => @issue } %>

    <% end %>
  </div>
<% end %>
<hr width="80%">
<br>

<a href="#responseModal" role="button" class="btn btn-success" data-toggle="modal">Respond to this issue</a>

<%= render :partial => "responses/response_form", :locals => { :@response => @response, :issue => @issue, :id => @issue.id} %>


<br><br>
<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
