<div id="post_content">
  <%= image_tag(@issue.user.image, :class => "span4", :id => "avatar") %>
  <div class="span8" id="post_title">
    <h4><%= @issue.user.name %> posted an issue about</h4>
    <h1><%= @issue.title %></h1>
  </div>

<!--   <hr width="80%"> -->

  <div class="span8" id="post_body">
    <h5>He was all like...</h5>
    <p><%= @issue.content %></p>
    <hr>
  </div>

  <div id="post_footer">

    <div id="post_votes">
      <h4>Votes: <%= render :partial => 'vote', :locals => {:issue => @issue, :asker => @issue.user} %></h4>
    </div>
    <br>

    <div id="status">
      <h4>Status: <%= @issue.aasm_state %></h4>
    </div>

  </div>

  <hr>

</div>

<% if @issue.gist_id %>
<div>
  <h4>Gist:</h4>
  <script src="https://gist.github.com/<%=@user_login_name%>/<%=@issue.gist_id%>.js"></script>
</div>
<hr width='80%'>
<% end %>



<% if @issue.responses.count > 0 %>
  <div>
    <h4 id="responses_start">Responses:</h4>
    <% @issue.responses[0..-2].each do |response| %>
      <%= render :partial => "responses/response", :locals => { :response => response, :@issue => response.issue } %>
     <% end %>
  </div>
<% end %>
<hr width="80%">
<br>

<a href="#responseModal" role="button" class="btn btn-primary" data-toggle="modal">Respond to this issue</a>

<br><br>
<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
