<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% if current_page?(:controller => 'issues', :action => 'index') %>
    <meta http-equiv="refresh" content="5">
  <% end %>
</head>
<body>

<p id="notice"><%= notice %></p>

<%= link_to "Login", login_path %>
<%= link_to "Logout", logout_path %>
<%= yield %>

</body>
</html>
