<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %> <span id="name_required" class="red">*Required</span><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %> <span id="email_required" class="red">*Required</span><br />
    <%= f.text_field :email %><br />
  </div>
  <div class="field">
    <%= f.label :cell %><br />
    <%= f.text_field :cell %>
  </div>
  <div class="field">
    <%= f.label :password %> <span id="password_required" class="red">*Required</span><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %> <span id="password_conf_required" class="red">*Required</span><br />
    <%= f.password_field :password_confirmation %><br />
    <span id="password_match_error">Password confirmation does not match password.</span>
  </div>
  <div class="field">
    <%= f.label :Upload_a_photo %><br />
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit 'Sign Up', :class => 'btn btn-success btn-large' %>
  </div>
<% end %>
