          <div class="box span3">
            <div class="box-header">
              <h2>
                <%= link_to raw('<i class="icon-cog"></i>'), edit_user_path(@user) %>
                <span class="break"></span>
                Your Profile
              </h2>
            </div>
            <div class="box-content">

              <p>
                <b>Name:</b>
                <%= @user.name %>
              </p>

              <p>
                <b>Email:</b>
                <%= @user.email %>
              </p>

              <p>
                <b>Cell:</b>
                <%= @user.cell %>
              </p>

              <div>
                <%= image_tag(@user.image.url, :class => 'user_profile') %>
              </div>

              <hr>

                <%= link_to raw('<i class="icon-cog"></i> &nbsp; Edit Profile'), edit_user_path(@user), :class =>'btn btn-small btn-inverse' %>
            </div>
          </div><!--/.box -->