<% if @assigned_issue %>
  <h1>Currently Assigned Issue</h1>

    <div class="issue quick-button bigpicture">
      
      <div>
        <%= image_tag(@assigned_issue.user.image.url, :class => "profile_image assigned") %>
        <%= image_tag(@current_user.image.url, :class => "profile_image assigned") %>
      </div>

      <div class="clear"></div>
      
      <div class="credits">
        <p>
          <h1><%= @assigned_issue.user.name %></h1> <br>
          <h1><%= @current_user.name %></h1>
        </p>

  <button class="btn btn-large btn-primary"> <%= link_to "Skip", unassign_path(@assigned_issue) %> </button>

  <button class="btn btn-large btn-primary"> <%= link_to "Done", helped_path(@assigned_issue) %> </button>

      </div>
    </div>

<% else %>
  <p>You currently have no assigned issues.</p>
<% end %>