<h1>All Users</h1>

<table cellpadding="8">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Cell</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.cell %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td>
      <% if user == current_user %>
      <% elsif user.admin?  %>
        <%= link_to 'Remove Admin Privileges', removeadmin_path(user) %>
      <% else %>
        <%= link_to 'Make Admin', makeadmin_path(user) %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', signup_path %>
