<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Cell:</b>
  <%= @user.cell %>
</p>

<div>
  <%= image_tag(@user.profile_url, :class => "user_profile") %>
</div>

<%= link_to 'Edit', edit_user_path(@user) %>
<% if @current_user.admin? %>
 | <%= link_to 'All Users', users_path %>
<% end %>