<h1>My Dashboard</h1>

<% unless @user.issues.empty? %>
  <h2>My Open Issues</h2>

    <table class="table table-bordered" >
      <thead>
        <tr role="row">
            <th>Title</th>
            <th>Content</th>
            <th>Gist Link</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @user.issues.each do |issue| %>
        <tr>
            <td><%= issue.title %></td>
            <td><%= issue.content %></td>
            <td>
              <% if issue.gist_id %>
                <a href="https://gist.github.com/<%=@user_login_name%>/<%=issue.gist_id%>/">Relevant Gist</a>
              <% end %>
            </td>
            <td><%= issue.aasm_state %></td>
            <td>
              <%= link_to(raw('<i class="icon-remove btn btn-danger"></i>'), issue, method: :delete, data: { confirm: 'Are you sure?' }) if current_user.can_destroy?(issue) && issue.is_unassigned? %> &nbsp;
              <%= link_to(raw('<i class="icon-pencil btn btn-warning"></i>'), edit_issue_path(issue)) if @current_user.can_edit?(issue) && issue.is_unassigned? %> &nbsp;
              <%= link_to(raw('<i class="icon-ok btn btn-success"></i>'), resolve_path(issue)) if @current_user.can_resolve?(issue) %>
            </td>
        </tr>
        <% end %>
      </tbody>
    </table>

<% end %>