<tr>
  <th>Issues in Waiting room</th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
</tr>

<% unless @waiting_room_issues.empty? %>
  <% @waiting_room_issues.each do |issue| %>
    <tr>
      <td></td>
      <td><%= link_to issue.title, issue_path(issue) %></td>
      <td><%= issue.content %></td>
      <td><%= issue.user.name %></td>
      <td><%= issue.current_status %></td>
      <td><%= time_ago_in_words(issue.created_at) %> ago</td>
      <td><%= link_to("Resolve", resolve_path(issue)) if @current_user.can_resolve?(issue) %></td>
      <td></td>
      <td><%= link_to('Edit', edit_issue_path(issue)) if @current_user.can_edit?(issue) %></td>
      <td><%= link_to('Delete', issue, method: :delete, data: { confirm: 'Are you sure?' }) if @current_user.can_destroy?(issue) %></td>
    </tr>
  <% end %>
<% end %>