<h1>Listing Issues</h1>

<table>
  <tr>
    <th>Status</th>
    <th>Title</th>
    <th>Content</th>
    <th>User</th>
    <th>Status</th>
    <th>Time submitted</th>
    <th>Mark as Resolved</th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <th>Urgent</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% unless @urgent_issues.empty? %>
  <% @urgent_issues.each do |issue| %>
    <tr>
      <td></td>
      <td><%= issue.title %></td>
      <td><%= issue.content %></td>
      <td><%= issue.user.name %></td>
      <td><%= issue.current_status %></td>
      <td><%= time_ago_in_words(issue.created_at) %> ago</td>
      <td><%= link_to "Resolve", resolve_path(issue) %></td>
      <td><%= link_to 'Show', issue %></td>
      <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
    </tr>
  <% end %>
<% end %>

  <tr>
    <th>Open</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% unless @open_issues.empty? %>
  <% @open_issues.each do |issue| %>
    <tr>
      <td></td>
      <td><%= issue.title %></td>
      <td><%= issue.content %></td>
      <td><%= issue.user.name %></td>
      <td><%= issue.current_status %></td>
      <td><%= time_ago_in_words(issue.created_at) %> ago</td>
      <td><%= link_to "Resolve", resolve_path(issue) %></td>
      <td><%= link_to 'Show', issue %></td>
      <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
    </tr>
  <% end %>
<% end %>

  <tr>
    <th>Closed</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% unless @closed_issues.empty? %>
  <% @closed_issues.each do |issue| %>
    <tr>
      <td></td>
      <td><%= issue.title %></td>
      <td><%= issue.content %></td>
      <td><%= issue.user.name %></td>
      <td><%= issue.current_status %></td>
      <td><%= time_ago_in_words(issue.created_at) %> ago</td>
      <td><%= link_to "Resolve", resolve_path(issue) %></td>
      <td><%= link_to 'Show', issue %></td>
      <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
    </tr>
  <% end %>
<% end %>

</table>

<br />

<%= link_to 'New Issue', new_issue_path %>

