<h1>Listing Issues</h1>

<table>
  <tr>
    <th>Status</th>
    <th>Title</th>
    <th>Content</th>
    <th>User</th>
    <th>Status</th>
    <th>Time submitted</th>
    <th>Mark as Resolved</th>
    <th></th>
    <th></th>
  </tr>


  <tr>
    <th>Issues in Waiting room</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% unless @waiting_room_issues.empty? %>
  <% @waiting_room_issues.each do |issue| %>
    <tr>
      <td></td>
      <td><%= issue.title %></td>
      <td><%= issue.content %></td>
      <td><%= issue.user.name %></td>
      <td><%= issue.current_status %></td>
      <td><%= time_ago_in_words(issue.created_at) %> ago</td>
      <td><%= link_to "Resolve", resolve_path(issue) %></td>
      <td><%= link_to 'Show', issue %></td>
      <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
    </tr>
  <% end %>
<% end %>



<tr>
    <th>Queue answered by Fellow Students</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% unless @fellow_student_issues.empty? %>
  <% @fellow_student_issues.each do |issue| %>
    <tr>
      <td></td>
      <td><%= issue.title %></td>
      <td><%= issue.content %></td>
      <td><%= issue.user.name %></td>
      <td><%= issue.current_status %></td>
      <td><%= time_ago_in_words(issue.created_at) %> ago</td>
      <td><%= link_to "Resolve", resolve_path(issue) %></td>
      <td><%= link_to 'Show', issue %></td>
      <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
    </tr>
  <% end %>
<% end %>


  <tr>
    <th>Non-urgent questions in Instructor Queue</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% unless @instructor_normal_issues.empty? %>
  <% @instructor_normal_issues.each do |issue| %>
    <tr>
      <td></td>
      <td><%= issue.title %></td>
      <td><%= issue.content %></td>
      <td><%= issue.user.name %></td>
      <td><%= issue.current_status %></td>
      <td><%= time_ago_in_words(issue.created_at) %> ago</td>
      <td><%= link_to "Resolve", resolve_path(issue) %></td>
      <td><%= link_to 'Show', issue %></td>
      <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
    </tr>
  <% end %>
<% end %>


  <tr>
    <th>Urgent questions in Instructor Queue</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% unless @instructor_urgent_issues.empty? %>
  <% @instructor_urgent_issues.each do |issue| %>
    <tr>
      <td></td>
      <td><%= issue.title %></td>
      <td><%= issue.content %></td>
      <td><%= issue.user.name %></td>
      <td><%= issue.current_status %></td>
      <td><%= time_ago_in_words(issue.created_at) %> ago</td>
      <td><%= link_to "Resolve", resolve_path(issue) %></td>
      <td><%= link_to 'Show', issue %></td>
      <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
    </tr>
  <% end %>
<% end %>



  <tr>
    <th>Closed</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% unless @closed_issues.empty? %>
  <% @closed_issues.each do |issue| %>
    <tr>
      <td></td>
      <td><%= issue.title %></td>
      <td><%= issue.content %></td>
      <td><%= issue.user.name %></td>
      <td><%= issue.current_status %></td>
      <td><%= time_ago_in_words(issue.created_at) %> ago</td>
      <td></td>
      <td><%= link_to 'Show', issue %></td>
      <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
    </tr>
  <% end %>
<% end %>

</table>

<br />

<%= link_to 'New Issue', new_issue_path %>

