<h1>Listing Issues</h1>

<table>
  <tr>
    <th>Status</th>
    <th>Title</th>
    <th>Content</th>
    <th>User</th>
    <th>Status</th>
    <th>Time submitted</th>
    <th>Mark as Resolved</th>
    <th></th>
    <th></th>
  </tr>

<% case current_user.role %>
  <% when 0 %>
    <%= render 'indexinstructor' %>
    <%= render 'indexstudent' %>
  <% when 10 %>
    <%= render 'indexinstructor' %>
    <%= render 'indexstudent' %>
    <%= render 'indexwaitingroom' %>
<% end %>
</table>

<br />

<%= link_to 'New Issue', new_issue_path %> | <%= link_to 'Big Board View', big_board_path %>

