<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @issue.title %>
</p>

<p>
  <b>Content:</b>
  <%= @issue.content %>
</p>

<p>
  <b>User:</b>
  <%= @issue.user.name %>
</p>

<p>
  <b>Status:</b>
  <%= @issue.current_status %>
</p>


<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
