        <% unless current_page?(big_board_path) %>
          <div class="box span3" id ="issuestats">
            <div class="box-header">
              <h2><i class="icon-tasks"></i><span class="break"></span>Issues Stats</h2>
            </div>
            <div class="box-content">
              <p><strong>Current open issues:</strong>
                <%= IssueStat.assignable.count %></p>
              
              <p><strong>Avg. wait time for open issues:</strong>
                <%= IssueStat.assignable_issues_average_wait_time.to_i %> minutes</p>
                  
              <hr>


              <p><strong>Current assigned closure issues:</strong>
                <%= IssueStat.assigned.count %></p>
              
              <p><strong>Avg. wait time assigned closure issues:</strong>
                <%= IssueStat.assigned_issues_average_wait_time.to_i %> minutes</p>
                  
              <hr>

              <p><strong>Current post-help / pending closure issues:</strong>
                <%= IssueStat.post_help.count %></p>
              
              <p><strong>Avg. wait time for post-help / pending closure issues:</strong>
                <%= IssueStat.post_help_issues_average_wait_time.to_i %> minutes</p>
                  
              <hr>

              <p><strong>Total closed issues: </strong>
                <%= IssueStat.closed.count %></p>
              
              <% if IssueStat.closed.count > 0 %>
              <p><strong>Avg. time taken to resolve issues:</strong>
                <%= IssueStat.closed_issues_average_wait_time.to_i %> minutes</p>                         
              <% end %>
            </div>
            
            <% if current_user.admin? %>
              <div class="box-content">
                <%= link_to "Reset issue stats", reset_stats_path, :class =>"btn btn-small btn-primary" %>
              </div>
            <% end %>

          </div><!--/.box -->
        <% end %>
