<%= render 'layouts/header' %>

  <div class="container-fluid" id="content">

  <div class="row-fluid">

  <%= render 'layouts/sidebar' %>
  <div class="span9">
    <%= bootstrap_flash %>
    <%= yield %>
  </div>
<%= render 'layouts/footer' %>
