<%= render 'layouts/header' %>

  <div class="container-fluid" id="content">

  <div class="row-fluid">

  <div class="span9">
    <%= bootstrap_flash %>
    <%= yield %>
  </div>
  <%= render 'profile' %>

<%= render 'layouts/footer' %>